<ion-content>
  <div class="container ion-text-center">
  <img style="height: 100px;
  width: 100px;
  margin-top: 30%;" src="assets/—Pngtree—university logo_6950962.png" alt="">
  <h2>Login</h2>
  </div>
  <ion-input style="font-weight: bold;" placeholder="NPM" type="text" required></ion-input>
  <br>
  <ion-input style="font-weight: bold;" placeholder="Email" type="text" required></ion-input>
  <ion-row>
      <ion-col>
          <ion-button [routerLink]="['/tabs/tab1']"
          type=" submit " expand="block ">Log In
          </ion-button>
      </ion-col>
  </ion-row>
</ion-content>